<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADD Flight</title>
</head>
<body>
<h1>Add Flight</h1>
<form action="addFlight" method="post">
<label>From: <input type="text" name="departureCity"> <br/></label>
<label>To: <input type="text" name="arrivalCity"> <br/></label>
<label>Departure date: <input type="date" name="dateOfDeparture"> <br/></label>
<label>Departure time: <input type="time" name="timeOfDeparture"> <br/></label>
<label>Return date:<input type="date" name="dateOfReturn"> <br/></label>
<label>Operating Airline: <input type="text" name="operatingAirline"> <br/></label>
<label>Flight Number: <input type="text" name="flightNumber"><br/></label>


    <input type="submit" value="Add Flight">
</form>
</body>
</html>