<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Startmin - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <!--        <link href="../static/css/bootstrap.min.css" rel="stylesheet">-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <!--        <link href="../static/css/metisMenu.min.css" rel="stylesheet">-->
    <link th:href="@{/css/metisMenu.min.css}" rel="stylesheet">

    <!-- Custom CSS -->
    <!--        <link href="../static/css/startmin.css" rel="stylesheet">-->
    <link th:href="@{/css/startmin.css}" rel="stylesheet">

    <!-- Custom Fonts -->
    <!--        <link href="../static/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

< id="wrapper">

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="index.html">Startmin</a>
    </div>

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <ul class="nav navbar-nav navbar-left navbar-top-links">
        <li><a href="#"><i class="fa fa-home fa-fw"></i> Website</a></li>
    </ul>

    <ul class="nav navbar-right navbar-top-links">
        <li class="dropdown navbar-inverse">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-bell fa-fw"></i> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-comment fa-fw"></i> New Comment
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                            <span class="pull-right text-muted small">12 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-envelope fa-fw"></i> Message Sent
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-tasks fa-fw"></i> New Task
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-upload fa-fw"></i> Server Rebooted
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a class="text-center" href="#">
                        <strong>See All Alerts</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> secondtruth <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="/ab"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li>
                    <a href="/forms"><i class="fa fa-user-o fa-fw"></i> Add User</a>
                </li>
                <li>
                    <a href="/showAddFlight"><i class="fa fa-plane fa-fw"></i>Add Flight</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-table fa-fw"></i> Tables</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-table fa-fw"></i> Tables</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-table fa-fw"></i> Tables</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-table fa-fw"></i> Tables</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="panel panel-default ">
            <div class="panel-heading">
                Basic Form Elements
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form" action="addFlight" method="post">
                            <div class="form-group">
                                <label>Flight Name</label>
                                <input class="form-control" name="flightNumber">
                            </div>
                            <div class="form-group">
                                <label>Departure City</label>
                                <input class="form-control" name="departureCity">
                            </div>
                            <div class="form-group">
                                <label>Arrival City</label>
                                <input class="form-control" name="arrivalCity">
                            </div>

                            <div class="form-group">
                                <label>Price</label>
                                <input class="form-control" name="price">
                            </div>
                            <div class="form-group">
                                <label>Departure Date</label>
                                <input class="form-control" type="text" name="dateOfDeparture">
                            </div>
                            <div class="form-group">
                                <label>Departure Time</label>
                                <input class="form-control" type="text" name="estimatedDepartureTime">
                            </div>
                            <div class="form-group">
                                <label>Return Date</label>
                                <input class="form-control" type="text" name="dateOfReturn">
                            </div>


                            <button type="submit" class="btn btn-default">Submit</button>
                            <button type="reset" class="btn btn-default">Reset </button>
                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                    <div class="col-lg-6">
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.col-lg-6 (nested) -->


<!-- jQuery -->
<!--        <script src="../static/js/jquery.min.js"></script>-->
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<!--        <script src="../static/js/bootstrap.min.js"></script>-->
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

<!-- Metis Menu Plugin JavaScript -->
<!--        <script src="../static/js/metisMenu.min.js"></script>-->
<script type="text/javascript" th:src="@{/js/metisMenu.min.js}"></script>

<!-- Custom Theme JavaScript -->
<!--        <script src="../static/js/startmin.js"></script>-->
<script type="text/javascript" th:src="@{/js/startmin.js}"></script>

</body>
</html>
