<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Flight Reservation Application</title>

</head>
<body>
New Users <a th:href="@{/registerUser}">click here </a>to register <br>
Existing Users <a th:href="@{/loginUser}">Login here</a>
<table>
<tr th:each="flight:${f}">


    <td th:text="${flight.flightNumber}"></td>
    <td th:text="${flight.departureCity}"></td>
    <td th:text="${flight.arrivalCity}"></td>
    <td th:text="${flight.dateOfDeparture}"></td>
    <td th:text="${flight.estimatedDepartureTime}"></td>

</tr>
</table>


<!--<h1 th:text="${count}"></h1>-->
<!--<h1 th:text="${flights}"></h1>-->






</body>
</html>